/* src/pages/Projects.css */

.projects-page {
  padding: 2rem;
  color: #e0e0e0;
  background-color: #121212; /* Ensure a consistent background color */
}

.projects-heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  display: flex;
  flex-direction: row;
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: slideIn 1s forwards;
}

.project-image {
  flex: 1;
  max-width: 30%;
  height: auto;
  border-radius: 8px;
  object-fit: cover; /* Ensure the image covers the container while maintaining its aspect ratio */
}

.project-details {
  flex: 2;
  margin-left: 1rem;
}

.project-title {
  margin: 0;
  font-size: 1.5rem;
}

.project-description {
  margin: 1rem 0;
}

.project-skills {
  font-style: italic;
}

.project-link {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #e0e0e0;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: #555;
}

/* Slide-in animation for project cards */
@keyframes slideIn {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.project-card:nth-child(even) {
  animation: slideInFromRight 1s forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .project-card {
    flex-direction: column; /* Stack image on top of text */
    align-items: center; /* Center-align the text and image */
  }

  .project-image {
    max-width: 100%; /* Allow the image to take full width on mobile */
    height: auto;
  }

  .project-details {
    margin-left: 0; /* Remove margin on mobile */
    text-align: center; /* Center-align text on mobile */
  }

  .project-title {
    font-size: 1.25rem; /* Adjust font size for mobile */
  }

  .project-description {
    font-size: 0.875rem; /* Adjust font size for mobile */
  }
}
